.b-smartable {

}

.b-smartable__hidden {
    display: none;
}

.b-smartable__table {

}

.b-smartable__search {
    text-align: right;
}

.b-smartable__showing {

}

.b-smartable__sort {
    cursor:pointer;

    background-position: right center;
    background-repeat: no-repeat;
}

.b-smartable__sort_desc,
.b-smartable__sort_asc {
    padding-left: 20px !important;

    background-position: 5px center;
    background-repeat: no-repeat;
}

.b-smartable__sort_desc {
    background-image: url('data:image/gif;base64,R0lGODlhCwALAKIFAEVFRaGhoW5ublVVVQAAAP///wAAAAAAACH5BAEAAAUALAAAAAALAAsAAAMYWLrc/k6MSQdQQVZAVqZc84VO1kEBpK4JADs=');
}

.b-smartable__sort_asc {
    background-image: url('data:image/gif;base64,R0lGODlhCwALAKIFAEVFRVVVVW5ubqGhoQAAAP///wAAAAAAACH5BAEAAAUALAAAAAALAAsAAAMaWLrc7uQpAaITIdQ2ct7KIIwkFQ5oikps+yQAOw==');
}

.b-smartable__pager {
    display: block;
    float: right;

    height: 30px;
    margin: 0 0 5px;
}

.b-smartable__pager ul {
    display: inline-block; -display:inline; -zoom:1;

    height: 30px;
    margin: 0; padding: 0;

    line-height: 20px;
    list-style: none;
}

.b-smartable__pager li {
    display: inline;
    margin: 0;

    list-style: none;
    text-align: left;
}

.b-smartable__pager li.active {
}

.b-smartable__pager a {
    cursor: pointer;
}

.b-smartable__pager a,
.b-smartable__pager span {
    display: inline-block; -display:inline; -zoom:1;
    padding: 4px 12px; margin: 0 0 0 -1px;

    line-height: 20px;

    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}

.b-smartable__pager li.active a,
.b-smartable__pager li.active span {
    font-weight: bold;

    cursor: default;

    color: #999;
    background-color: #f4f4f4;
}